.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

input{
  /* background: #4ECCA3; */
  width: 200px;
  height: 3em;
  border-radius: 10px;
  margin-left:43%;
  margin-top: 20px;
  background-image:linear-gradient(to left, #4ECCA3 1%, #393E46 60%) ;
  box-shadow: 10px 20px 25px black;
}
input:hover{
  font-weight: bold;
  word-spacing: 2px;
}